<div class="error-area">
<% if @newsmailer.errors.any? %>
  <div id="error-msg">
    <h2>An error prohibited this email from being saved:</h2>
    <ul>
      <% @newsmailer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <%= link_to "  Click here to view", :anchor => "newsletter" %>
  </div>
<% end %>
</div>
<section id="carousel-section">
  <div class="container">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag "soap.png", :class => "img-responsive" %>
            </div>

            <div class="item">
              <%= image_tag "oil.png", :class => "img-responsive" %>
            </div>

            <div class="item">
              <%= image_tag "incense.png", :class => "img-responsive" %>
            </div>


          </div>

          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

          </a>
      </div>

</div>
</div>
</section>

<section id="categories-section">
  <div class="container-liquid main-area-1">
    <h2>Welcome to Forever Soaps and Incenses</h2>
    <div class="container">
      <div class="col-sm-offset-2 col-sm-8">
        <p>Located in the heart of the Bronx in New York, we create homemade, natural soaps, body oils, incenses and cones. With products made from all natural materials and no harmful chemicals, we offer you unique and high quality products for to enjoy. </p>
      </div>
    </div>
  </div>
  <div class="container categories-display">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Soaps</h3>
      <%= link_to (image_tag "soap0.png", :class => "img-responsive splash"), show_products_path(1) %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Oils</h3>
      <%= link_to (image_tag "oil0.png", :class => "img-responsive splash"), show_products_path(2) %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Incenses</h3>
      <%= link_to (image_tag "incense0.png", :class => "img-responsive splash"), show_products_path(3) %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h3>Cones</h3>
      <%= link_to (image_tag "cones0.png", :class => "img-responsive splash"), show_products_path(4) %>
    </div>
    <%= link_to products_path do %>
      <button class="button button-default">
        <span>Go to products</span>
      </button>
    <% end %>
  </div>
<section id="newsletter">
  <div class="container-liquid main-area-2">
    <p>Sign up for our Newsletter here!</p>
    <p>
      <%= form_for :newsmailer, url: root_path, method: :post do |f| %>
        <%= f.text_field :email, :placeholder => "YourEmail@domain.com",:class => "newsletter-signup-form" %>
    </p>
    <%= f.submit 'SUBMIT', :class => "newssubmit-btn" %>
    <% end %>
  </div>
</section>
  <div class="container social-display">
    <div class="col-lg-4 col-md-4 col-sm-12 social-area">
      <a class="icon1" href="#"><i class="fa fa-facebook fa-lg"></i>Like us on Facebook</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 social-area">
      <a class="icon1" href="#"><i class="fa fa-twitter fa-lg"></i>Follow us on Twitter</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 social-area">
      <a class="icon1" href="#"><i class="fa fa-instagram fa-lg"></i>Follow us on Instagram</a>
    </div>
  </div>
</section>
