<section id="cart">
  <div class="container">
    <% if !@orderitem.nil? && @orderitem.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @orderitem.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2>My Cart</h2>
    <% if @orderitems.size == 0 %>
      <p>
        There are no items in your shopping cart.
      </p>
    <% else %>
      <% @orderitems.each do |orderitem| %>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag orderitem.image, class: 'img-responsive' %>
        </div>
        <div class="col-sm-4">
          <h2><%= orderitem.name %></h2><br>
          <%= orderitem.description %>
        </div>
        <div class="col-sm-4">
          <%= form_for orderitem, url: users_orderitem_path(orderitem) do |f| %>
            <p>Value Price: $<%= orderitem.price %></p>
            <%= f.number_field :quantity, value: orderitem.quantity.to_i, min: 1 %>
            <%= f.submit "Update Quantity" %>
            <h4>Total Price: $<%= orderitem.total_price %> </h4>
            <%= link_to "Remove From Cart", users_orderitem_path(orderitem), {data: {confirm: "Are you sure you wish to delete 'placeholder' from your cart?"}, method: :delete } %>
          </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
      <% sum = 0 %>
      <% @orderitems.each do |t| %>
        <% sum += t.total_price %>
      <% end %>
      <%= link_to "Back", :back %>
      <h3>Total: $<%= sum %></h3>
      </div>


  </div>
</section>
